* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

button,
a {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f6;
}

.authform-container {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px #00000021;
  width: 379px;
  height: 385px;
  padding: 32px;
}
h1 {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 12px;
}
input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 12px;
  font-weight: 400;
  border: 0.5px solid #999999;
  border-radius: 6px;
}
button {
  width: 100%;
  padding: 15px;
  margin-top: 12px;
  background-color: #7334ea;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #6b1eaf;
}
.link {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link p {
  display: block;
  margin: 4px 0;
}

.link a {
  color: #999999;
  font-family: inherit;
}

.link a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .authform-container {
    width: 343px;
    height: 321px;
    padding: 24px;
    border-radius: 0px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .form-group {
    margin-bottom: 8px;
  }

  input[type="text"] {
    padding: 10px;
    font-size: 11px;
  }

  button {
    padding: 12px;
    font-size: 11px;
    margin-top: 8px;
  }

  .link {
    margin-top: 16px;
    font-size: 11px;
  }

  .link p {
    margin: 2px 0;
  }
}
